// TOOLS ---

// Global classes
.f-left{ float:left; }
.f-right{ float:right; }
.center{ width:940px; margin:0 auto; }

// Font weights
$thin:100;
$light:300;
$regular:400;
$bold:600;
$black:700;

// Font size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Font smoothing - Escuro-claro(off) | Claro-escuro(on)
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// Clear floats
@mixin clear(){
    &:after { 
        content: "."; 
        visibility: hidden; 
        display: block; 
        height: 0; 
        clear: both;
    }
}

// Gradients
@mixin linear-gradient($from, $to, $direction) {
    background: $to;
    @if $direction == vertical {
        background: -moz-linear-gradient(top, $from 0%, $to 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
        background: -webkit-linear-gradient(top, $from 0%,$to 100%);
        background: -o-linear-gradient(top, $from 0%,$to 100%);
        background: -ms-linear-gradient(top, $from 0%,$to 100%);
        background: linear-gradient(to bottom, $from 0%,$to 100%);
    }
    @if $direction == horizontal {
        background: -moz-linear-gradient(left, $from 0%, $to 100%);
        background: -webkit-gradient(linear, top left, top right, color-stop(0%,$from), color-stop(100%,$to));
        background: -webkit-linear-gradient(left, $from 0%,$to 100%);
        background: -o-linear-gradient(left, $from 0%,$to 100%);
        background: -ms-linear-gradient(left, $from 0%,$to 100%);
        background: linear-gradient(to right, $from 0%,$to 100%);
    }
}

// Breakpoints
@mixin breakpoint($breakpoint) {
    @if $breakpoint == desktop {
        @media screen and (min-width: 940px) { @content; }
    }
    @if $breakpoint == small-tablet {
        @media screen and (min-width: 640px) and (max-width: 960px) { @content; }
        @media only screen 
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (-webkit-min-device-pixel-ratio: 1){ 
            @content;
        }
    }
    @if $breakpoint == phone {
        // This should target all phones, including iphones
        @media screen and (max-width: 640px) { @content; }
        @media only screen
        and (max-device-width: 320px)
        and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    @if $breakpoint == iphone {
        @media only screen
        and (max-device-width: 320px)
        and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    @if $breakpoint == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            @content;       
        }
    }
}