/*
*
*	88    ,ad8888ba,    ,ad8888ba,    88b           d88  88888888ba
*	88   d8"'    `"8b  d8"'    `"8b   888b         d888  88      "8b
*	88  d8'           d8'        `8b  88`8b       d8'88  88      ,8P
*	88  88            88          88  88 `8b     d8' 88  88aaaaaa8P'
*	88  88            88          88  88  `8b   d8'  88  88""""""'
*	88  Y8,           Y8,        ,8P  88   `8b d8'   88  88
*	88   Y8a.    .a8P  Y8a.    .a8P   88    `888'    88  88
*	88    `"Y8888Y"'    `"Y8888Y"'    88     `8'     88  88
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* -+-+-+-+-+- TOOLS -+-+-+-+-+- */
.center { width: 940px; margin: 0 auto; }

.clear { clear: both; }

.f-left { float: left; }

.f-right { float: right; }

/* -+-+-+-+-+- GLOBAL -+-+-+-+-+- */
